---
// HubSpot Form Embed Code
---

--- const portalId = import.meta.env.PUBLIC_HUBSPOT_PORTAL_ID; const formId =
import.meta.env.PUBLIC_HUBSPOT_FORM_ID; ---

<div
  class="hs-form-frame"
  data-region="na2"
  data-form-id={formId}
  data-portal-id={portalId}
>
  <p class="hs-form-fallback">
    Having trouble seeing this form?
    <a href="mailto:contact@benditsmcom">Contact us directly via email</a>.
  </p>
</div>

<script
  is:inline
  defer
  src=`https://js-na2.hsforms.net/forms/embed/${portalId}.js`></script>

<style>
  .hs-form-frame:has(iframe) .hs-form-fallback {
    display: none;
  }
</style>
